apiVersion: apps/v1
kind: Deployment
metadata:
  name: movie-service
  labels:
    app: movie-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: movie-service
  template:
    metadata:
      labels:
        app: movie-service
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: movie-service
          image: "{{ .Values.movieService.image.repository }}:{{ .Values.movieService.image.tag }}"
          imagePullPolicy: {{ .Values.movieService.image.pullPolicy }}
          ports:
            - containerPort: 8000
          env:
            - name: DATABASE_URI
              value: "postgresql://{{ .Values.movieDb.username }}:{{ .Values.movieDb.password }}@{{ .Values.movieService.env.database.host }}:{{ .Values.movieService.env.database.port }}/{{ .Values.movieDb.database }}"
            - name: CAST_SERVICE_HOST_URL
              value: "http://cast-service:8000"
