apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "fastapiapp.fullname" . }}-movie
  labels:
    app: movie-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: movie-service
  template:
    metadata:
      labels:
        app: movie-service
    spec:
      containers:
        - name: movie-service
          image: "{{ .Values.movieService.image.repository }}:{{ .Values.movieService.image.tag }}"
          imagePullPolicy: {{ .Values.movieService.image.pullPolicy }}
          ports:
            - containerPort: 8000
          env:
            - name: DATABASE_URI
              value: {{ .Values.movieService.env.DATABASE_URI | quote }}
            - name: CAST_SERVICE_HOST_URL
              value: {{ .Values.movieService.env.CAST_SERVICE_HOST_URL | quote }}
