apiVersion: v1
kind: Service
metadata:
  name: movie-service
spec:
  type: ClusterIP
  selector:
    app: movie-service
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      protocol: TCP
