replicaCount: 2

image:
  repository: rachidtakni/fastapiapp
  tag: "latest"

resources:
  limits:
    cpu: "500m"
    memory: "1Gi"

ingress:
  enabled: true
  host: staging-app.cours-datascientest1.abrdns.com # url staging
