replicaCount: 1

image:
  repository: rachidtakni/fastapiapp
  tag: "latest"

resources:
  limits:
    cpu: "200m"
    memory: "256Mi"

ingress:
  enabled: true
  host: dev-app.cours-datascientest1.abrdns.com # Url app dev
