movieService:
  image:
    repository: rachidtakni/movie-service
    tag: "latest"
    pullPolicy: IfNotPresent
  env:
    DATABASE_URI: "postgresql://movie_db_username:movie_db_password@movie-db/movie_db_dev"
    CAST_SERVICE_HOST_URL: "http://cast-service:8000/api/v1/casts/"

castService:
  image:
    repository: rachidtakni/cast-service
    tag: "latest"
    pullPolicy: IfNotPresent
  env:
    DATABASE_URI: "postgresql://cast_db_username:cast_db_password@cast-db/cast_db_dev"

movieDb:
  image: postgres:12.1-alpine
  storage: 1Gi
  username: movie_db_username
  password: movie_db_password
  database: movie_db_dev

castDb:
  image: postgres:12.1-alpine
  storage: 1Gi
  username: cast_db_username
  password: cast_db_password
  database: cast_db_dev
